/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) auto minmax(
      min-content,
      max-content
    );
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 30px;
  min-inline-size: 375px;
  /*max-inline-size: 1024px;*/
  inline-size: 100%;
  background-color: var(--main-bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  max-block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
  max-inline-size: 375px;  
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 50px;
  justify-content: end;
  padding: var(--padding-page, 10px);
  position: relative;
  margin: auto;
}

.header__theme-menu-button {
  color: var(--nav-color, #ff0070);
  background-color: transparent;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  border: none;
  text-transform: lowercase;
  align-items: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color-hov, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__decoration {
  position: absolute;
  top: var(--padding-page, 10px);
  right: 27px; /*var(--padding-page, 20px);*/
  color: var(--accent-color, #ff0070);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.889%;
}

.header__decoration::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--nav-color, #ff0070);
  background-color: var(--nav-color, #ff0070);
  margin-inline-start: 10px;
  margin-block-end: 0.05em;
}

.header__title {
  justify-self: start;
  color: var(--header-text-color, #db00ff);
  text-shadow: 4px 4px 0px var(--title-shadow-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  word-break: normal;
}

.decorated-zone::before {
  display: block;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color, #ff0070);
  border-block-end: 1px solid var(--nav-color, #ff0070);
  position: absolute;
  inset-inline-start: var(--padding-page, 10px);
  inset-block-end: var(--padding-page, 10px);
}

.decorated-zone::after {
  display: block;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color, #ff0070);
  border-block-start: 1px solid var(--nav-color, #ff0070);
  position: absolute;
  inset-inline-end: var(--padding-page, 10px);
  inset-block-start: var(--padding-page, 10px);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.header__text {
  color: var(--main-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: center;
  align-self: end;
  inline-size: max(50%, 355px);
  margin-block-end: 66px;
}

.header__text-paragraph {
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.content {
  color: var(--main-color, #000028);
  max-inline-size: 375px;
  inline-size: 100%;
  display: grid;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 50px;
  padding: var(--padding-page, 10px);
}

.content__title {
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.content__text {
  color: var(--text-color, #f1b2ce);
  line-height: 23.4px;
}

.text__shadow {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.text-shadow:hover {
  border-block-end: var(--text-color, #f1b2ce);
}

.text-shadow:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.content__part {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-template-columns: fit-content;
  row-gap: 10px;
}

.content__part-title {
  inline-size: 375px;
}

.how__list-item-subtitle {
  line-height: 23.4px;
  font-weight: 400;
  max-inline-size: 375px 100%;
}

.why {
  display: grid;
  grid-template-rows: fit-content repeat(2, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 20px;
}

.what {
  display: grid;
  grid-template-rows: fit-content repeat(2, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 20px;
}

.how {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 20px;
}

.how__list {
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 20px;
  max-inline-size: 375px 100%;
}
.how__list-item {
  display: grid;
  grid-template-rows: 23px minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content);
}

.gallery {
  display: grid;
  grid-template-rows: 23px minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 10px;
}

.card-gallery__pic {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 10px;
}

.gallery__pic {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content);
  inline-size: 100%;
  min-inline-size: 375px;
  max-block-size: 100vh;
  min-block-size: 667px;
  position: relative;
  align-content: center;
  justify-content: center;
  padding: var(--padding-page, 10px);
}

.footer__title {
  color: var(--header-text-color, #db00ff);
  text-shadow: 2px 2px 0px var(--title-shadow-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.footer__decorated-zone::before {
  display: block;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color, #ff0070);
  border-block-end: 1px solid var(--nav-color, #ff0070);
  position: absolute;
  inset-inline-start: var(--padding-page, 10px);
  inset-block-end: var(--padding-page, 10px);
}

.footer__decorated-zone::after {
  display: block;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color, #ff0070);
  border-block-start: 1px solid var(--nav-color, #ff0070);
  position: absolute;
  inset-inline-end: var(--padding-page, 10px);
  inset-block-start: var(--padding-page, 10px);
}

/* * {
  border: 1px solid red;
}*/
