/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --nav-color-hov: rgb(255, 0, 112 / 0.4);
  --main-bg-color: #000028;
  --text-color: #f1b2ce;
  --header-text-color: #db00ff;
  --title-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-image: url(../images/cover-image-dark.png);
  --padding-page: 10px;
  --title-shadow-color: #ff0070;
  --title-text-color: #000028;
}

@media (width >= 768px) {
  :root {
    --padding-page: 20px;
    --title-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-inline-start: var(--padding-page, 20px);
    inset-block-end: var(--padding-page, 20px);
  }

  .decorated-zone::after {
    inset-inline-end: var(--padding-page, 20px);
    inset-block-start: var(--padding-page, 20px);
  }

  .footer__decorated-zone::before {
    inset-inline-start: var(--padding-page, 20px);
    inset-block-end: var(--padding-page, 20px);
  }

  .footer__decorated-zone::after {
    inset-inline-end: var(--padding-page, 20px);
    inset-block-start: var(--padding-page, 20px);
  }
}

@media (375px < width <= 768px) {
  .page {
    row-gap: 40px;
    min-inline-size: 376px;
    inline-size: 100%;
    max-inline-size: 768px;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-content: end;
    max-block-size: 100vh;
    min-block-size: 1024px;
    inline-size: 100%;    
    max-inline-size: 768px;
    padding: var(--padding-page, 20px);
    position: relative;
    margin: auto;
  }

  .header__title {  
    align-self: center;      
    font-size: var(--title-text-size);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    word-break: normal;
  }

  .header__text {
    justify-self: end;
    inline-size: max(364px, 50%);
  }

  .content {
    max-inline-size: 768px;
    inline-size: 100%;
    /*row-gap: 50px;*/
    padding: var(--padding-page, 20px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    /*display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: minmax(min-content, max-content);*/
  }

  .why {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 2fr;
  }

  .why-content__title {
    max-inline-size: 236px;
    grid-column: 1/2;
  }

  .why-content__part {
    grid-column: 2;
  }

  .content__part {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .what {
    display: grid;
    grid-template-rows: fit-content repeat(2, minmax(min-content, max-content));
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 20px;
  }

  .what-content__title {
    inline-size: 236px;
    grid-column: 1;
    grid-row: 1;
  }

  .how {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .how-content__title {
    inline-size: 236px;
    grid-column: 1;
    grid-row: 1/2;
  }

  .card-gallery__pic {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .gallery__pic:first-child {
    grid-row: 1;
    grid-column: 1/3;
  }

  .gallery__pic:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }

  .gallery__pic:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .gallery__pic:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery__pic:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    inline-size: 100%;
    max-inline-size: 768px;
    max-block-size: 100vh;
    min-block-size: 1024px;
    padding: var(--padding-page, 20px);
  }
}

@media (768px < width <=1024px) {
  .page {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 40px;
    min-inline-size: 1024px;
    inline-size: 100%;
  }

  .header {
    max-block-size: 100vh;
    min-block-size: 668px;
    inline-size: 100%;
    max-inline-size: 1024px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-content: end;
    padding: var(--padding-page, 10px);
    position: relative;
    margin: auto;
  }

 .header__decoration {    
    inset-inline-end: 27px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    justify-self: start;
  }

  .header__text {
    justify-self: end;
    inline-size: max(50%, 491px);
  }

  .content {
    /*row-gap: 50px;*/
    padding: var(--padding-page, 20px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    /*display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: minmax(min-content, max-content);*/
    max-inline-size: 1024px;
    inline-size: 100%;
  }

  .why {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 2fr;
  }

  .why-content__title {
    inline-size: 315px;
    grid-column: 1;
  }

  .why-content__part {
    grid-column: 2;
  }

  .content__part {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .content__part-title {
    inline-size: 100%;
  }

  .what {
    display: grid;
    grid-template-rows: fit-content repeat(2, minmax(min-content, max-content));
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .what-content__title {
    /*inline-size: 315px;*/
    grid-column: 1;
    grid-row: 1;
  }

  .how {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .how-content__title {
    inline-size: 315px;
    grid-column: 1;
    grid-row: 1/2;
  }

  .card-gallery__pic {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .gallery__pic:first-child {
    grid-row: 1;
    grid-column: 1/3;
  }

  .gallery__pic:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }

  .gallery__pic:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .gallery__pic:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery__pic:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    inline-size: 100%;
    max-inline-size: 1024px;
    max-block-size: 100vh;
    min-block-size: 768px;
    padding: var(--padding-page, 20px);
  }
}
